@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #253b80;
  --primary-color: #0641ad;
  --secondary-color: #4597d9;
  --tertiary-color: #ed6935;
  --fourth-color: #fff6f4;
  --fifth-color: #48408d;
  --sixth-color: #108cf1dc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media only screen and (max-width: 1024px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
/* @media only screen and (min-width: 481px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
} */

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
